[build]
  publish = "public"
  functions = "netlify/functions"

[dev]
  port = 8888
  targetPort = 3000

[[redirects]]
  from = "/api/*"
  to = "https://bharatpass.onrender.com/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
